* {
  font-family: Comfortaa;
  font-size: 22px;
}

@font-face {
  font-family: Comfortaa;
  src: url("../font/Comfortaa-VariableFont_wght.ttf");
}

body {
  background-color: #e3f2fd;
  height: 100vh;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1vh;
}

.title_mini {
  display: flex;
  font-size: 13px;
  justify-content: end;
  opacity: 0.2;
}

.logo {
  margin-bottom: 2vh;
  height: 16vh;
}

.main_img {
  height: 55vh;
}

.motto {
  font-size: 16px;
  text-transform: uppercase;
  color: #00000049;
}

.button {
  background-color: #86abb1;
  border: none;
  color: black;
  padding: 2vh 80px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  margin: 0vh 5px;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.1s;
}

.button:hover {
  box-shadow: 0 4px 4px 0px gray;
  transform: translate(0px, -4px);
}
