* {
  font-family: Comfortaa;
  font-size: 22px;
  background-color: #f0f0f0;
  margin: 0;
}

@font-face {
  font-family: Comfortaa;
  src: url("../font/Comfortaa-VariableFont_wght.ttf");
}

body {
  height: calc(90vh);
}

a {
  text-decoration: none;
  background-color: transparent;
  color: black;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.profile-icon {
  position: absolute;
  margin-top: -10px;
  right: 0;
}

.profile-description {
  display: none;
  position: absolute;
  bottom: -10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #d9d9d9;
  border-radius: 0 20px 20px 35px;
  text-align: center;
  font-size: 15px;
}

.content {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 130px;
}

.left-img {
  width: 480px;
}

.content-right {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-right div {
  margin: 30px;
  position: relative;
}

.first-option-description {
  display: none;
  position: absolute;
  max-width: 140px;
  bottom: -50px;
  left: 150px;
  padding: 5px 10px;
  background-color: #d9d9d9;
  border-radius: 0 20px 20px 40px;
  font-size: 15px;
  text-align: center;
}

.second-option-description {
  display: none;
  position: absolute;
  max-width: 200px;
  bottom: -50px;
  left: 150px;
  padding: 5px 10px;
  background-color: #d9d9d9;
  border-radius: 0 20px 20px 40px;
  text-align: center;
  font-size: 15px;
}

.third-option-description {
  display: none;
  position: absolute;
  max-width: 240px;
  bottom: -50px;
  left: 150px;
  padding: 5px 10px;
  background-color: #d9d9d9;
  border-radius: 0 20px 20px 40px;
  text-align: center;
  font-size: 15px;
  transition-duration: 1s;
}

.content-right p {
  font-size: 30px;
  background-color: #d9d9d9;
  padding: 15px 70px;
  border-radius: 0 20px 0 20px;
  text-align: center;
  box-shadow: 1px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.content-right p:hover {
  box-shadow: -0px 4px 4px 0px rgba(32, 33, 36, 0.28);
  transform: translate(0px, -4px);
  background-color: #86abb1;
}
/* 
.element {
  display: inline-block;
  padding: 20px;
  background-color: #3498db;
  color: white;
  text-align: center;
  cursor: pointer;
}

.description {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #f1c40f;
  color: black;
  width: 200px;
  border-radius: 5px;
} */

/* footer */
footer {
  position: absolute;
  bottom: 10px;
  padding-top: 10px;
  right: 0;
  left: 0;
}

.google-t {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.google-t-description {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 100px;
  padding: 5px 10px;
  background-color: #d9d9d9;
  border-radius: 20px 0px 40px 20px;
  font-size: 15px;
  text-align: center;
  transition: 1s;
}

.motto {
  margin-bottom: 0;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #00000049;
}

.title_mini {
  text-align: center;
  margin: 0;
  font-size: 13px;
  opacity: 0.2;
}
