* {
  font-family: Comfortaa;
  box-sizing: border-box;
}

@font-face {
  font-family: Comfortaa;
  src: url("../font/Comfortaa-VariableFont_wght.ttf");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  min-width: 700px;
  max-width: 95%;
}

.logo-text {
  text-align: center;
  margin: 30px;
}

.home {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
}

.search-container {
  display: flex;
  position: relative;
  width: 700px;
}

.search-input {
  width: 700px;
  padding: 10px 40px 10px 15px;
  border: 0px solid #ccc;
  border-radius: 35px 75px 0 35px;
  font-size: 15px;
  text-align: center;
  background-color: white;
  outline: none;
}

.search-button {
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.s-b-img {
  width: 34px;
}

.university-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  width: 1000px;
  height: 250px;
  margin: 20px;
  background-color: #fff;
  border-radius: 45px;
  transition: 0.2s;
}

.content:hover {
  box-shadow: 0 4px 4px 0px gray;
  transform: translate(0px, -4px);
}

.content-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.content-img {
  margin: 10px;
  margin-left: 50px;
  width: 250px;
  height: 200px;
  float: left;
}

.university-img {
  width: 250px;
  height: 200px;
  object-fit: contain;
}

.content-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  padding: 30px;
  text-align: center;
}

.content-name > a {
  font-size: 17px;
}

.content-name_heading {
  font-size: 30px;
}

.content-name_heading_s {
  margin-top: 7px;
}

/* footer */
footer {
  position: relative;
  padding-bottom: 10px;
  padding-top: 10px;
  right: 0;
  left: 0;
}

.google-t {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.motto {
  margin-bottom: 0;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #00000049;
}

.title_mini {
  text-align: center;
  margin: 0;
  font-size: 13px;
  opacity: 0.2;
}

.hide {
  display: none;
}
